/* boje */
._1{
    background-color:rgb(238, 238, 110);
}
._2{
    background-color:grey;
}
._3{
    background-color:orange;
}
._4{
    background-color:rgb(125, 202, 228);
}
._5{
    background-color:rgb(132, 230, 170);
}
._6{
    background-color:rgb(120, 180, 177);
}
._7{
    background-color:rgb(228, 189, 130);
}
._8{
    background-color:rgb(133, 82, 146);
}
._9{
    background-color:rgb(125, 122, 160);
}
._10{
    background-color:rgb(230, 220, 173);
}
