/* sidebar */
.sidebar {
    width: 15%;
    display: flex; 
    height: 100%; 
}
.ikonice{
    margin: 0 15% 0 3%;
    width: 30%;
    border-radius: 35%;
}
.slika_logoa{
    width:100%;
}
.navigacija{
    display: flex;
    border: 2px solid #3b3b3b;
    border-right: none;
    width: 100%;
    margin: 0;
    padding:0;
}
h3{
    color: white;
    font-family: 'Audiowide';
}
.link{
    text-decoration: none;
    display: block;
}
.link:hover{
    background-color: #3b3b3b;
}
.activeRoute {
    background-color: #383535;
    -webkit-box-shadow: 4px 4px 26px -4px rgba(48,50,59,0.7);
    -moz-box-shadow: 4px 4px 26px -4px rgba(48,50,59,0.7);
    box-shadow: 4px 4px 26px -4px rgba(48,50,59,0.7);
}
li{
    list-style: none;  
}
.ram{
    width: 94%;
    background-color: rgb(170, 162, 162);
    min-height:789px;
    overflow: hidden;
    border-left: 2px solid #3b3b3b;
    margin:0;  
}
ul{
    margin:0;
    margin-top: -4px;
    padding:0;
}
.slicica{
    margin: 0 15% 0 3%;
    width: 30%;
}
#helmet{
    background-image: url("../img/helmet.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
#timovi{
    background-image: url("../img/timovi.png");
    background-size: 100%;
}
#flag{
    background-image: url("../img/flag.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1280px){
    .ikonica{
        display: none;
    }
    .sidebar{
        width: 200px;
    }
    .navigacija{
        width: 200px;
    }
    .slika_logoa{
        width:200px;
    }    
}

@media screen and (max-width:980px) {
    .sidebar{
        width: 100px;
    }
    .navigacija{
        width: 100px;
    }
    .slika_logoa{
        width:100px;
    }
    .ikonice {
        display: none;
    }
}

@media screen and (max-width:480px) {
    ul{
        display: flex;
    }
    nav{
        display: flex;
        align-items: flex-end;
    }
    .ram{
        width: 100%;
    }
    ul{
        margin-bottom: 1%;
    }
    .link{
        text-align: center;
    }
    .navigacija h3{
        margin:auto;
    }
    .slika_logoa{
        width:60px;
    }
}